@font-face {
	font-family: "acme";
	src: url("../font/Acme/Acme-Regular.ttf");
}

body {
	background-color: black;
	color: white;
	font-family: "acme";
	box-sizing: border-box;
	max-width: 1200px;
	font-size: 1.2em;
	word-spacing: 0.15em;
}

h1 {
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: lime;
}

header {
	padding: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	padding-right: 30px;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
	padding: 0 20px;
	font-size: 1.3em;
}

main {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

article {
	text-align: justify;
	padding-left: 30px;
}

.skillsList {
	list-style: square;
}

.plainList {
	list-style: none;
}

.photo {
	width: 50%;
	text-align: right;
}

.photo img {
	height: 600px;
	border: 5px solid white;
	border-radius: 10px;
}

.accordion {
  background-color: rgba(0,100,0,0.40);
  font-family: "acme";
  font-size: 1em;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid white;
  border-bottom: none;
  outline: none;
  transition: 0.4s;
  border-radius: 10px 10px 0 0;
}

.accordion:hover {
  background-color: lime;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 0 0 10px 10px;
  border-top: none;
  text-align: center;
  color: black;
}

.screenshot {
	height: 150px;
	border: 2px solid black;
	border-radius: 2px;
	margin: 5px 5px 0px 5px;
}

footer {
	text-align: center;
	width: 100%;
	padding-top: 15px;
}

@media only screen and (min-width:320px) and (max-width: 768px){
	header {
		display: block;
		padding: 0;
	}
	h1 {
		text-align: center;
		padding: 3% 0;
	}
	nav {
		padding-left: 0;
		text-align: center;
	}
	nav li{
		display: block;
		padding-left: 0;
	}
	main {
		width: 100%;
		display: block;
		padding-top: 2%;
	}
	article {
		width: 90%;
		margin: 0 auto;
		padding: 0 5% 0 5%;
		display: block;
	}
	.photo {
		width:100%;
		margin: 0 auto;
		padding: 0;
		display: block;
		text-align: center;
	}
	.optional {
		display: none;
	}
}